# npmignore should match gitignore, except for the /build directory
# Custom
.transpiled
.nyc_output
.yarnrc.yml
.yarn

src/**/*.spec.ts
src/**/*.test.ts
/__tests__
/__mocks__
__snapshots__
__image_snapshots__

# Stock
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.orig

work
pids
logs
results
coverage
lib-cov
html-report
xunit.xml
node_modules
npm-debug.log

.project
.idea
.settings
.iml
*.sublime-workspace
*.sublime-project

.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes